[Desktop Entry]
Type=Application
Name= Reboot
Comment=Reboot the system
Exec=sh -lc '~/.config/wofi/powermenu.sh Reboot'
Icon=system-reboot
Terminal=false
Categories=System;
NoDisplay=false
