[defaults]
inventory = ./inventory.yml
roles_path = ./roles
host_key_checking = False
stdout_callback = yaml
nocows = True
retry_files_enabled = False
forks = 1

# Local-execution friendly defaults: we run on the same box we're configuring,
# no SSH involved.
transport = local

[privilege_escalation]
# Use sudo, prompt once for password unless cached.
become = False
become_method = sudo
become_user = root
become_ask_pass = False
